/* Algemene opmaak */

body{
	/*nomale tekst voorwaarden*/
	font-family: 'Play', Arial;
	font-size: 1.2em;
	font-weight: normal;
    font-style: normal;
	color: black;
	text-align: center;
	margin: 0;
	padding: 0;	
	/*Andere basis voorwaarden*/
	z-index: 1;
	/*background-color: rgba(211, 211, 211, 1);*/
	width: 100%;
}

p {
	font-size: 1.2em;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}

img {
	margin: 4px;
}
a {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white; 
}

#header-sectie img{
	max-height: 150px;
	max-width: 200px;
}
.blok {
  padding: 1px;
  margin: 0;
  height: auto;
  min-height: 250px;
  height: auto;
  padding-left: 50px;
  padding-bottom: 2.5em;
}

.oneven-blok {
	background-color: rgba(211, 211, 211, 1);
	background: url("BackGroundPeterGrey.png") no-repeat left center fixed; 
	background-size:  cover;
}

.even-blok {
	background-color: rgba(83, 179, 178, 1);
	background: url("BackGroundPeterBlue.png") no-repeat left center fixed; 
	background-size:  cover;
}

.text-bubble{
	background-color: rgba(83, 179, 178, 0.9);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	padding: 3px;
	padding-left: 10px;
	margin: 3px;
	margin-top: 0;
	margin-right: 20px;
	
	max-width: 900px;
	margin-left: 1.5em;
}

.even-blok .text-bubble {
	background-color: rgba(83, 179, 178, 0.7);
}

.even-blok .text-bubble {
	background-color: rgba(211, 211, 211, 0.7);
}

.centeringStuff {
	position: relative;
	display: block;
		margin-left: auto;
		margin-right: auto;
}
.text-bubbleMargin {
	margin: 3px;
	margin-top: 0;
	margin-right: 20px;
	margin-left: 1.5em;

}

.even-blok .title {
	background-color: rgba(83, 179, 178, 0.7);
	padding: 3px;
	margin: 0;
	margin-bottom: 5px;
}
.oneven-blok .title {
	background-color: rgba(211, 211, 211, 0.7);
	padding: auto;
	margin: 0;
	margin-bottom: 5px;
}

.row {
	padding-bottom: 15px;
}
/*CarSpecs opmaak */

.carSpec {font-size: 1.5em;}
.carSpec h2 {font-size: 2.5em;}
.carSpec h3 {font-size: 2.2em;}
.carSpec p {
	text-align: left;
}
.carSpec .note {font-size: 0.7em;}
.carSpecList {
	text-align: left;
	padding-left: 15px;
	margin-left: 15px;
}





/*TEKST ADJUST CODE Mini verkoop*/
@media all and (min-width: 50px)   {  
	.carSpec .note {font-size: 0.5em;}
	.carSpec {font-size: 1.0em;}
	.carSpec h2 {font-size: 1.8em;}
	.carSpec h3 {font-size: 1.6em;}
}
@media all and (min-width: 100px)   {  
	.carSpec .note {font-size: 0.5em;}
	.carSpec {font-size: 1.0em;}
	.carSpec h2 {font-size: 1.8em;}
	.carSpec h3 {font-size: 1.6em;}
}
@media all and (min-width: 200px)   {  
	.carSpec .note {font-size: 0.7em;}
	.carSpec {font-size: 1.2em;}
	.carSpec h2 {font-size: 1.8em;}
	.carSpec h3 {font-size: 1.6em;}
}
@media all and (min-width: 600px)  {  
	.carSpec .note {font-size: 0.7em;}
	.carSpec {font-size: 1.2em;}
	.carSpec h2 {font-size: 2.0em;}
	.carSpec h3 {font-size: 1.8em;}
}
@media all and (min-width: 700px)  {  
	.carSpec .note {font-size: 0.7em;}
	.carSpec {font-size: 1.2em;}
	.carSpec h2 {font-size: 2.0em;}
	.carSpec h3 {font-size: 1.8em;}
}
@media all and (min-width: 800px)  {  
	.carSpec .note {font-size: 0.7em;}
	.carSpec {font-size: 1.2em;}
	.carSpec h2 {font-size: 2.0em;}
	.carSpec h3 {font-size: 1.8em;}
}
@media all and (min-width: 900px)  {  
	.carSpec .note {font-size: 0.7em;}
	.carSpec {font-size: 1.2em;}
	.carSpec h2 {font-size: 2.0em;}
	.carSpec h3 {font-size: 1.8em;}
}

/*Header & navigationBar */

/*Tekst opmaak & Kleuren*/
#nav-bar {
	background-color: #333;
	background-color: rgba(51, 51, 51, 0.9);
	color: white;
	z-index: 50;
	height: 40px;
	padding-top: 10px;
}

#nav-bar h2{
	float: left;
	text-align: center;
	margin: auto;
	display: block;
}

#nav-bar ul li a:hover, #nav-bar a:hover {
  background-color: rgba(83, 179, 178, 1);
  text-decoration: none;
}

#navigator li a {
  font-family: 'Josefin Slab', serif;
  text-align: left;
  font-size: 1.2em;
}

#social-bar{
    text-align: center;
	float: right;
	margin: 0;
}

#mailIcon{
	float: right;
	padding: 5px 5px;
	position: absolute;
	top: 0px;
	right: 10px;
}

.logobar {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
}

/*GROOTSCHERM*/
@media screen and (min-width: 650px) {
/* Menu hiden als het scherm groot genoeg is. */
	#header-sectie {
		padding-top: 50px;
	}
	#small-menu {
		display: none;
	}
	
	#nav-bar {
		margin: 0;
		padding-left: 50px;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
	#nav-bar ul {
		margin: 0;
	}

	#nav-bar ul li {
		display: inline;	
	}
	
	#navigator {
		float: left;
		padding-left: 5%;
	}


	#navigator li a{
		text-align: center;
		padding: 20px 15px;
	}
	
	
}
/* kleiner scherm */
@media screen and (max-width: 649px) {
  #nav-bar ul.active {
    display: none;
  }
 .logobar {
	top: 5px;
	left: 35px;
	width: 25px;
	height: 25px;
}
  #nav-bar h2 {
	  padding-left: 70px;
  }
  #small-menu, #mailIcon {
		cursor: pointer;
		text-decoration: none;
		z-index: 999;
		top: 0;
		display: inline-block;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
		font-size: 20px;
		transition: color linear 0.15s;
	}
	#mailIcon {
		right:0;
		padding: 3px;

	}
	#small-menu {
		left: 0;
		padding: 6px;
		position: fixed;
		background-color: #333;
		background-color: rgba(51, 51, 51, 0.7);

	}
		#nav-bar > ul.open {
		display: block;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	#nav-bar ul {
		width: 100px;
		position: fixed;
		left: 0px;
		top: 40px;
		overflow: auto;
		z-index: 90;
    }
  	#navigator li a{
		display: block;
		text-align: center; 
		background-position: left top;
		background-repeat: repeat;

	}
	#last {
		border-radius: 0 0 5px 5px;
	}
   #navigator li {
		background-color: #333;
		background-color: rgba(51, 51, 51, 0.9);
		background-position: left top;
		background-repeat: repeat;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  }
  
	#navigator li a:hover {
		border-radius: 5px;
		background-position: left top;
		background-repeat: repeat; 
		width: 100%;
		height: 100%; 
  }
}
/*GSM*/
/*@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
  /* Your touch-specific css goes here */
  /*
#nav-bar ul.active {
    display: none;
  }
  #nav-bar h2 {
	  padding-left: 35px;
  }
  #small-menu, #mailIcon {
		text-decoration: none;
		background-color: transparent;
		z-index: 998;
		padding: 11px;
		top: 0;
		box-shadow: none;
		display: inline-block;
		border-radius: 3px;
		font-size: 20px;
		text-shadow: none;
	}
	#mailIcon {
		right: 10px;
		padding: 3px;
		position: absolute;

	}
	#small-menu {
		left: 0;
		padding: 6px;
		position: static;
		background-color: #333;
		background-color: rgba(51, 51, 51, 0.7);
		

	}
		#nav-bar > ul.open {
		display: block;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	#nav-bar ul {
		width: 100px;
		position: fixed;
		left: 0px;
		top: 40px;
		overflow: auto;
		z-index: 90;
    }
  	#navigator li a{
		display: block;
		text-align: center; 
		background-position: left top;
		background-repeat: repeat;

	}
	#last {
		border-radius: 0 0 5px 5px;
	}
   #navigator li {
		background-color: #333;
		background-color: rgba(51, 51, 51, 0.9);
		background-position: left top;
		background-repeat: repeat;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  }
  
	#navigator li a:hover {
		border-radius: 5px;
		background-position: left top;
		background-repeat: repeat; 
		width: 100%;
		height: 100%; 
  }
}
*/
/*Einde menu-bar*/

/*Cars sections */
.project-list > li a img {
	min-height: 50px;
	/*min-width: 90px;*/
}
.project-list > li a {
	min-height: 54px;
	min-width: 80px;
}

.thumbnail {
	padding: 0;
}

.thumbnail img {
	margin: 0;
	width: auto;
	height: auto;
}

.pr-tab.pr-hide {
	display: none;
}
.project-list .pr-active > a{
	border: 5px solid #337AB7;
}
.pr-tab.pr-active {
	display: block;
}
/*Reactive elements*/
@media (min-width: 992px){
	.project-list {
		width: 95%;
	}
	.project-list li {
		display: inline-block;
		padding-right: 30px;
		padding-left: 5px;
		width: 15%;
	}
}
@media (max-width: 991px){
	.project-list li {
		display: block;
		padding-right: 5px;
		padding-left: 5px;
	}
	.leftside-adjust {
		left:77px;
		padding: auto;
	}
}

/*foto list*/

.foto-list li {
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
	width: 21%;
}

	
.active-img {
	
}

.non-active-img {
	display: none;
}

/*Einde car sectie*/

/*Opmaak miniconfig */
.image-box {
	position: relative;
	min-width: 90%;

}
.image-box img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 90%;
	min-height: 230px;
	min-width: 410px;
}
#frontAndBack {
	margin-top: 15px;
	min-height: 420px;
}
#side {
	min-height: 415px;
}

#Original{
	z-index: 1;
}
.miniGlas {
	z-index: 3;

}

#sideView {
	min-height: 400px;
}

#selectList {
	text-align: left;
}
#selectList li {
	margin-bottom: 5px;
}


@media all and (max-width: 767px)  {
	#side {
		min-height: 750px;
	}	
	#sideView {
		min-height: 350px;
	}
	#frontAndBack {
		min-height: 700px;
	}
}

@media all and (max-width: 600px)  {
	#side {
		min-height: 750px;
	}	
	#sideView {
		min-height: 300px;
	}
	#frontAndBack {
		min-height: 700px;
	}
}
@media all and (max-width: 540px)  {
	#side {
		min-height: 750px;
	}	
	#sideView {
		min-height: 250px;
	}
	#frontAndBack {
		min-height: 700px;
	}
}



/*einde mini config*/



/*TEKST ADJUST CODE*/
@media all and (min-width: 50px)   {  
	#header-title { font-size:1.5em; }
	.title { font-size:1.5em; }
	body  { font-size:1.0em;  } 
}
@media all and (min-width: 100px)   {  
	body  { font-size:1.1em;  } 
	#header-title { font-size:2.0em; }
}
@media all and (min-width: 200px)   {  
	body  { font-size:1.0em;  } 
	#header-title { font-size:2.0em; }
}
@media all and (min-width: 400px)  {  
	body  { font-size:1.3em;  }
	.title { font-size:2em; }
	#header-title { font-size:2.5em;}	
	/*.image-box { min-height: 27em; }*/
}
@media all and (min-width: 450px)  {  
	body  { font-size:1.3em;  }
	.title { font-size:2em; }
	#header-title { font-size:2.5em;}	
	/*.image-box { min-height: 33em; }*/
}
@media all and (min-width: 600px)  {  
	.title { font-size:2.5em; }
	#header-title { font-size:3em; }
	body  { font-size:1.3em;  } 
	/*.image-box { min-height: 38em; }*/
}
@media all and (min-width: 700px)  {  
	.title { font-size:2.5em; }
	#header-title { font-size:3em; }
	body  { font-size:1.3em;  } 
	/*.image-box { min-height: 43em; }*/
}